* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(180deg, rgb(0, 0, 0), rgb(35, 78, 84));
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gifs-display {
  list-style: none;
  display: flex;
}

.picture{
  width: auto;
  height: 14rem;
  margin: 2rem;
  box-shadow: 4px 5px 5px rgb(217, 217, 217);
}

.box {
  margin: 3%;
  background-color: rgb(255, 255, 255);
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fillout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  font-size: 2vw;
  color: aliceblue;
}

.button{
  color: black;
  padding-top: 1%;
  padding-bottom: 1%;
  padding: 1%;
  border-radius: 10px;
  font-size: 1.3vw;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  color: rgb(99, 99, 99);
  box-shadow: 0 5px 30px rgba(255, 255, 255, 0.4);
}

#textInput{
  color: black;
}